/* body */
.responsive {
    width: 100%;
    height: auto;}

.fondo{background: linear-gradient(rgba(62, 63, 64, 0.6), rgba(62, 63, 64, 0.6), 
    url("imagenes/imgprin.png")); 
    
   
    background-size: cover; 
    background-position: center bottom; 
    color:black; font-family: 'Nunito', sans-serif; 
    padding-top: 150px; 
    padding-bottom: 100px;}  
    /*background: url("imagenes/imagenprincipal.png");*/
    
.fondo{
    
    background:linear-gradient(141.55deg, #C5C904 15.4%, #FCFF58 85.65%);
}
.bcolor{-moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    object-position: center;
    /*position: absolute;
    /*width: 914px;
    height: 914px;
    left: 402px;
    top: -52px;*/
    width: 788px;
    height: 804px;
    left: 402px;
    top: -52px;
    background-color:linear-gradient(141.55deg, #C5C904 15.4%, #FCFF58 85.65%);
    background: linear-gradient(141.55deg, #C5C904 15.4%, #FCFF58 85.65%);}


/*.fondo{background: linear-gradient(rgba(62, 63, 64, 0.6), rgba(62, 63, 64, 0.6))}*/

.circulo{-moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    position: absolute;
    width: 788px;
    height: 804px;
    left: 264px;
    top: -374px;
    background: linear-gradient(45.37deg, #C96C38 8.28%, #FCFF58 65.61%);}

/* Ellipse 2 */

    


.logo-fondo_h1 {position: absolute;;
    
    font-size: 6rem;
    font-weight: 900;
    margin-top: -50%;
    margin-left: 0%;
    margin-right: 0%;
    text-align: center ;
    /*margin: 0 auto 0.2em auto;*/ 
    color: purple}


.logo-fondo_h2{
    width: 190px;
    height: 204px;
    background: url("imagenes/pbasquet.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 529px;
    left: 46px;
    overflow: hidden;
}

/*formato titulo*/
.ftitulo{
    width: 100%;
    height: 100%;
  color: rgba(66,0,255,1);
  position: absolute;
  top: 125px;
  left: 50%;
  font-family: Montserrat;
  font-weight: ExtraBold Italic;
  font-size: 100px;
  opacity: 1;
  text-align: left;
}



/*FOTOS HOME*/
.img-fluid{
    height:100%;
    width: 300%;
    /*height: 300%;*/
    /*background-color:linear-gradient(141.55deg, #C5C904 15.4%, #FCFF58 85.65%);*/
    position: center;
    align-items: center;
    margin-top: -400px;
    /*margin-left: 45%;
    margin-right: 45%;*/
}
.fotfutbol{width: 225px;
    height: 225px;
    /*background: url("../images/v116_1256.png");*/
    background-repeat: no-repeat;
    /*background-position: center center;*/
    position: center;
    align-items: flex-end;
    margin-top: -1600px;
    margin-left: 1000px;
    background-size: cover;
    opacity: 1;
    position: top;
    top: 10px;
    left: 1100px;
    margin-right: 0%;
    overflow: hidden;
    align-items: right;
}

.fotvoley{
    /*width:100% ;height:auto;*/
    width: 225px;
    height: 225px;
    /*background: url("../images/v116_1258.png");*/
    background-repeat: no-repeat;
    background-position: center left;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 529px;
    left: 10px;
    overflow: hidden;

}

.fottenis{
    width: 130px;
  height: 130px;
  /*background: url("../images/v122_3.png");*/
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 532px;
  left: 999px;
  overflow: hidden;
}

.fothockey{
    width: 251px;
  height: 210px;
  /*background: url("../images/v122_5.png");*/
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 46px;
  left: 23px;
  overflow: hidden;
}

.fcancha{
    width: 1000px;
  height: 1000px;
  /*background: url("../images/v104_5.png");*/
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 700px;
  left: 394px;
  overflow: hidden;
}
.fjugadores{width: 100%;
    height: 200%;
    position: relative;
    top: -100px;
    left: -100;

}
/*----------------------------------------------------------------------------------------*/

/*texto punto de encuentro*/
.ftitulo1 {
    width: 350px;
    color: rgba(66,0,255,1);
    position: absolute;
    top: 323px;
    left: 275px;
    font-family: Monserrat;
    /*font-weight: ExtraBold Italic;*/
    /*font-weight: inherit;*/
    font-size: 100px;
    opacity: 1;
    text-align: left;
}

.ftitulo2{
    width: 486px;
  color: rgba(66,0,255,1);
  position: absolute;
  top: 323px;
  left: 700px;
  font-family: Montserrat;
  font-weight: ExtraBold Italic;
  font-size: 100px;
  opacity: 1;
  text-align: left;
}

.ftitulo3{
    width: 575px;
    color: rgba(66,0,255,1);
    position: absolute;
    top: 900px;
    left: 39px;
    
    font-weight: ExtraBold Italic;
    font-size: 90px;
    opacity: 1;
    text-align: left;
    font-family: 'Montserrat', sans-serif;
}

.ftitulo4{width: 350px;
    height: 350;
    color: rgba(66,0,255,1);
    position: relative;
    top: 800px;
    left: 0px;
    font-family: Montserrat;
    font-weight: ExtraBold Italic;
    font-size: 25px;
    opacity: 1;
    text-align: center;
}

.ftitulo5{width: 350px;
    height: 100;
    color: rgba(66,0,255,1);
    position: relative;
    top: 0px;
    text-align: justify;
    left: 0px;
    font-family: Montserrat;
    font-weight: ExtraBold Italic;
    font-size: 25px;
    opacity: 1;
    text-align: left;
}
.fgooglemaps{
    margin-top: 0px;
    margin-left: 0px;
        
}

.v122_11 {
    width: 100%;
    height: 2880px;
    background: url("imagenes/Elipse2.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
}


footer {
    background-color: rgba(94, 94, 94, 0.40);
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 0.3rem;
    text-align: center;
    color: white;
}

.card {
    position: relative;
    margin-top: 1200px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,0.125);
    border-radius: 0.25rem;
}

.card {
    height: 500px;
    margin-top: 800px;
    margin-bottom: auto;
    margin-left: 0%;
    width: 500px;
    background-color:white rgba(0,0,0,0.5) !important;
}

.card1{
    position: relative;
    margin-top: 1200px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,0.125);
    border-radius: 0.25rem;
}

.card1 {
    height: 500px;
    margin-top: -500px;
    margin-bottom: auto;
    margin-left: 35%;
    width: 500px;
    background-color:white rgba(0,0,0,0.5) !important;
}

.card3{
    position: relative;
    margin-top: 1200px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,0.125);
    border-radius: 0.25rem;
}

.card3 {
    height: 500px;
    margin-top: -500px;
    margin-bottom: auto;
    margin-left: 1200px;
    width: 500px;
    background-color:white rgba(0,0,0,0.5) !important;
}


/* Busca tu cancha al instante */



